/* main body styles */

body {
  font-family: "Helvetica", "Arial", sans-serif, system-ui;
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 0.25em 0.25em;
  min-height: 100vh;
  font-size: 1em;
}

h1 {
  font-size: 2em;
  font-weight: 500;
}

/* status section */

.status-container {
  margin: 0.5rem 0 1rem;
  padding: 0.5rem;
}

.status-container ul {
  margin: 0;
}

/* submit form styles */

.submit-form legend {
  font-size: 1.2em;
  font-weight: 100;
}

.submit-form {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  max-width: 40em;
}

.form-group,
.btn-container {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip {
  margin: 0.25em;
  font-size: 0.9em;
  color: #6c757d;
}

form fieldset, .submit-btn {
  padding: 0.5em;
}

.blank-field {
  display: none;
}
