/* main body styles */

body {
  font-family: "Helvetica", "Arial", sans-serif, system-ui;
}


main {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
}


h1
h2
h3
h4 {
  margin-top: 0.25em;
  padding-top: 0.25em;
}


h1 {
  font-size: 2.5em;
  font-weight: 500;
}


/* navigation back arrow styles */

#back-arrow {
  display: flex;
  justify-content: start;
  background: none;
  border: none;
  font-size:  x-large;
  font-weight: bold
}


#back-button-link {
  color: inherit;
  text-decoration: none;
}


/* submit form styles */


.submit-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}


.form-group-with-tooltip {
  margin-bottom: 0;
}


.tooltip {
  color: #6c757d !important;
  margin-bottom: 0.5em;
  padding: 0.25em;
}


.submit-form textarea,
.submit-form label,
.submit-form input,
.submit-form legend {
  padding: 0.25em;
  margin-bottom: 0.25em;
  margin-right: 1em;
  margin-bottom: 0.5em;
}


#dois_text {
  width: 50%;
}


#dois_upload,
#doi_upload_helper_container {
  /* hide dois file input and helper on page load */
  display: none;
}
