/* main body styles */

body {
  font-family: "Helvetica", "Arial", sans-serif, system-ui;
}


main {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 0.25em 0.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: 1em;
}


h1 {
  font-size: 2.5em;
  font-weight: 500;
}


/* navigation back arrow styles */

#back-arrow {
  display: flex;
  justify-content: start;
  background: none;
  border: none;
  font-size:  x-large;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
}


/* submit form styles */


.submit-form {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}


.form-group {
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
}


.label-input-row {
  gap: 0.5em;
}


.tooltip {
  margin-top: 0.25em;
  font-size: 0.9em;
  color: #6c757d;
  max-width: 40em;
}


.legend-with-radios {
  display: flex;
  align-items: center;
}


fieldset.form-group {
  border: none;
  padding: 0;
}


fieldset.form-group legend {
  padding: 0;
}


.submit-form div,
.submit-form fieldset,
.submit-form label,
.submit-form input,
.submit-form legend {
  padding: 0.1em; 
  margin-right: 0.5em;
}
